<%- include("partials/header.ejs") %>


<h2><u>Kothuru Vari Gardens</u></h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio et minima libero atque labore eaque amet repudiandae
    voluptates odio ut quo rerum enim vero fuga, dolor tempore est doloremque velit.
</p>




<%- include("partials/footer.ejs") %>