<%- include("partials/header.ejs") %>

<div class="flex-shrink-0 p-3 bg-white" style="width: auto;">
    <ul class="list-unstyled ps-0">

      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Starter
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            
  
            <div id="main-container" class="album py-5 bg-light ">
              <div class="container">
          
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                          </div>
                          <small class="text-muted">For One Day</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                          </div>
                          <small class="text-muted">For One Day</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                          </div>
                          <small class="text-muted">For One Day</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                          </div>
                          <small class="text-muted">For One Day</small>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                </div>
              </div>
            </div>
          </ul>
        </div>
      </li>
  
  
  
  
  
  
      
  
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Veg course
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <!-- <li><a href="#" class="link-dark rounded">Pulao</a></li> -->
  
  
            <div id="main-container" class="album py-5 bg-light ">
              <div class="container">
          
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                          </div>
                          <small class="text-muted">For One Day</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                          </div>
                          <small class="text-muted">For One Day</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                          </div>
                          <small class="text-muted">For One Day</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                          </div>
                          <small class="text-muted">For One Day</small>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                </div>
              </div>
            </div>
          </ul>
        </div>
      </li>
  
  
  
  
  
  
  
  
  
  
      
  
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed " data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Non-Veg course
        </button>
  
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <!-- <li><a href="#" class="link-dark rounded">Chicken Biriyani</a></li> -->
      
              <div id="main-container" class="album py-5 bg-light">
                <div class="container">
            
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                      <div class="card shadow-sm">
                        <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                            </div>
                            <small class="text-muted">For One Day</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                            </div>
                            <small class="text-muted">For One Day</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                            </div>
                            <small class="text-muted">For One Day</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <img src="images/logo.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6c757d"><path d="M549-120 280-400v-80h140q53 0 91.5-34.5T558-600H240v-80h306q-17-35-50.5-57.5T420-760H240v-80h480v80H590q14 17 25 37t17 43h88v80h-81q-8 85-70 142.5T420-400h-29l269 280H549Z"/></svg>1,999</button>
  
                            </div>
                            <small class="text-muted">For One Day</small>
                          </div>
                        </div>
                      </div>
                    </div>
                      
                  </div>
                </div>
              </div>
  
  
  
            </li>
            
          </ul>
        </div>
      </li>
      


    </ul>

  </div>


<%- include("partials/footer.ejs") %>